<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav ng-controller="NavController as navCtrl">
      <!-- now everything is under the navCtrl scope -->
      <ul>
        <!-- ng-repeat is a for loop -->
        <li ng-repeat="navItem in navCtrl.routes">
          <!-- ng-href is what we need to use to name our items inside of ng-repeat (and they have their own properties defined in the controller.js) -->
          <a ng-href="{{navItem.url}}">{{navItem.name}}</a>
        </li>
      </ul>
    </nav>
    <section ng-controller="CowsayController as cowsayCtrl">
      <h1> {{cowsayCtrl.title}} </h1>
        <input type="text" ng-model="cowsayCtrl.text">
        <!-- you can have a button with type submit, OR input with type submit -->
        <!-- novalidate is a directive that tells angular forms to have functionality -->

        <form ng-submit="cowsayCtrl.speak(cowsayCtrl.text)" novalidate>
          <!-- submits for the form -->
          <button type="submit">speak</button>
        </form>
        <pre>
          {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
        </pre>
<!-- put falsy or truthy value inside of ng-show -->
<!-- this pre tag WILL NOT SHOW if .spoken doesn't exist -->
        <pre ng-show="cowsayCtrl.spoken">
          {{cowsayCtrl.spoken}}
        </pre>
      </section>
  </body>
</html>
